* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  background-image: url(../assets/img/Linha.svg);
  height: 100vh;

  color: #FFFFFF;
  font-family: 'Roboto Flex', sans-serif;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000 50%, transparent);
    z-index: -1;
  }
}

:root {
    
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 45.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);
    
  /* Font Shorthands */
  --font-display-large: 800 72px/130% 'Sora', sans-serif;
  --font-display-medium: 800 40px/130% 'Sora', sans-serif;
  --font-display-small: 700 32px/130% 'Sora', sans-serif;
  --font-overline: 700 16px/150% 'Roboto Mono', monospace;
  --font-paragraph-large: 500 16px/150% 'Roboto Flex', sans-serif;
  --font-paragraph-medium: 500 14px/150% 'Roboto Flex', sans-serif;
  --font-paragraph-small: 500 12px/150% 'Roboto Flex', sans-serif;
  --font-label-medium: 700 20px/150% 'Roboto Flex', sans-serif;
  --font-label-small: 700 16px/150% 'Roboto Flex', sans-serif;
  
}