
@import url('global.css');
@import url('utility.css');
@import url('header.css');
@import url('sections/main.css');
@import url('sections/footer.css');

header {
  padding-block: 4.75rem;
  width: 100%;
}

