.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (max-width: 950px) {
    padding-inline: 2rem;
    max-width: 700px;
  }
}

.hidden {
  display: none !important;
}